*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 90%;
} 

body{
    background-color: #c0c0c0;
    color: #ffffff;
    padding: 20px;
}

h1{
    background-color: #ffffff;
    color: #64645A;
    margin: 20px;
    padding: 20px;
}

p{
    padding: 5px;
    margin: 0px;
}

.first{
    background-color: #2d83c5;
}
.one{background-color: #2992d0;}
.two{background-color: #1e9ed9 ;}
.three{background-color: #35a8df;}
.four{background-color: rgb(86 182 231);}
.five{background-color: rgb(116 192 235) ;}
.six{background-color: rgb(142 202 238);}
.second{background-color:rgb(26 180 133)  ;}
.seven{background-color:rgb(244 175 204) ;}
.eight{background-color:rgb(245 174 205) ;}
.nine{background-color:rgb(244 157 194) ;}
.ten{background-color: rgb(243 139 181);}
.eleven{background-color:rgb(243 142 180) ;}
.twelve{background-color: rgb(241 121 165);}
.thirteen{background-color: rgb(238 49 126);text-transform: uppercase;}